<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Products</title>
</head>


{% extends 'tapp/admin_main.html' %}
{% load static %}

{% block content %}
<hr><br>
<link rel="stylesheet" href="{% static 'css/admin_style.css' %}">
<h1 style="color: white;"><strong>Delete products</strong></h1><br>
{% if products|length == 0 %}
<h1 style="text-align: center;">No products to delete!!</h1>
{% endif %}

<div class="row">
    {% for product in products %}

    <div class="col-lg-4 card-dark border-info mb-3">
     
            <img class="img-thumbnail card-img-top " src="{{ product.image.url }}" style="height=350px; width=350px;background-color:#353535;"
                alt="abc">
     



        <div class="box-element product card-body ">
            <h4 style="color: white;"><strong>{{product.product_name}}</strong></h4>
            <hr>
            <a href="{% url 'delete' %}"><button class="btn btn-outline-success proView"
                    data-product="{{product.id}}" data-action="delete" href="#">Delete</button></a>
            <h4 style="display: inline-block; float: right"><strong>${{product.base_price}}</strong></h4>

        </div>
    </div>


    {% endfor %}
</div>
<script src="{% static 'js/script.js' %}"></script>
{% endblock content %}
<!DOCTYPE html>
<html lang="en">

<body>


</body>

</html>